#cat_tags ul{
  list-style: none;
}
#cat_tags li{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;
}

label{
  color: #190E4F;
  font-weight: bold;
}